@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100%;
}

.map-iframe {
	border: 1px solid black; /* Adjust as needed */
}

.image-carousel {
	height: 80%;
}

/* toastify-custom.css */
.toast-container {
	top: 12%;
	transform: translateY(-50%);
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.toast {
	text-align: center;
	font-size: 1.2em;
}

.diagonal-bg {
	background: linear-gradient(
		-125deg,
		rgba(51, 65, 85, 0.78) 60%,
		transparent 65%
	);
}

.group:hover .group-hover\:block {
	display: block;
}

.group-hover\:block {
	display: none;
}
